ul {
  list-style-type: none;
  width: 120px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  left: 0;
  text-align: left;
}

li a {
  display: block;
  color: #000;
  text-decoration: none;


}

li a.active {
  background-color: lightblue;
  color: white;

}

li a:hover:not(.active) {
  background-color: lightblue;
  color: white;
}

.container
{
  margin-left: 100px;
}

.title
{
  color: red;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #17a2b8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: darkcyan}

.button:active {
  background-color: darkcyan;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button:focus {
  outline: 0px ;
}